body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: rgb(153, 105, 0);
    text-decoration: underline;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 2em 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 0.5em 0.7em;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    margin: 1em auto 2em;
    width: 40%;
    padding: 15px 0;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    transition: 0.5s all;
    cursor:pointer;
}

.enviar:hover {
    background-color: darkorange;
    transform: scale(1.1);
}

table {
    margin: 20px auto 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

footer {
    text-align: center;
    background-image: url(../src/img/bg.jpg);
    padding: 20px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 10px;
}

@media screen and (max-width: 480px) {
    .caixa {
        width: auto;
    }

    main {
        width: auto;
        padding: 10px;
    }
    
    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    nav ul{
        width: auto;
        text-align: center;
    }

    nav li {
        width: auto;
    }

    .input-padrao {
        width: auto;
    }
}